// body {
//     margin: 0px;
//     overflow: hidden;
//   }
  

circle {
    fill: steelblue;
  }
  
  .line-path {
    fill: none;
     //stroke: #359cdb;
    stroke: #db8d33;
    stroke-width: .5px;
    stroke-linejoin: round;
  }
  
  .tick text {
    font-size: 14px;
    
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 18px;
    fill: #8E8883;
  }
  
  .title {
    font-size: 14px;
    
  }