$general-border-color: rgba(0, 0, 0, 0.12);
$selection-title-border-color: #efefef;

.metrics-dashboard-container {
  display: flex;
  flex-direction: column;

  .inputs-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid $general-border-color;

    .aggregation-time-picker-container {
      mat-form-field {
        width: 250px;
      }
    }
  }

  .metrics-and-selection-container {
    display: flex;
    margin-top: 20px;
    gap: 5px;

    .metrics-container {
      flex: 4;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      padding: 10px;
    }

    .metrics-list-container {
      border-left: 1px solid $general-border-color;
    }

    .selection-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;

      .selection-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 8px;
        padding-left: 8px;
        border-bottom: 1px solid  $selection-title-border-color;
        margin-bottom: 15px;
      }

    }
  }
}

